[user]
  name = Walerian
  email = walerian.sobczak@gmail.com
[alias]
  co = checkout
  st = status
[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[diff]
  noprefix = true
